{
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "jest"
  ],
  "rules": {
    "react/prop-types": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "env": {
    "jest/globals": true
  }
}