{
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/prop-types": 0
  }
}